.dropdown__container {
    display: flex;
    padding: 0px 0px 15px 0px;
    flex-direction: column;
}

.dropdown__label {
    display: flex;
    padding-bottom: 9px;
    align-items: center;
    gap: 4px;
}

.dropdown__label--required {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF4D4F;
}

.dropdown__label--notrequired {
    padding-top: 2px;
}

.dropdown__label--text {
    flex: 1 0 0;
    font-feature-settings: 'calt' off;
    font-style: normal;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: var(--font-error);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.dropdown__select-container {
    width: 400px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.dropdown__select-container::after{
    border: 1px solid var(--main-button-color);
}
.select-container:focus-within {
    border: 1px solid var(--main-button-color);
}
