.data-block__field {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.data-block__field--title {
    width: 130px;
    color: var(--profile-detail-data-contacts-color-text);
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.data-block__field button {
    display: flex;
    height: 32px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--light-button-border-color);
    cursor: pointer;
}

.data-block__field button:hover {
    background: var(--light-button-hover-color);
}

.data-block__field--show--contacts,
.data-block__field--contacts {
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.data-block__field--contacts {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    color: var(--profile-detail-data-contacts-color-text);
}

.data-block__field--show--contacts {
    flex: 1 0 0;
    color: var(--light-button-text-color);
}

.contact-container {
    display: flex;
    min-width: 164px;
    justify-content: space-between;
    padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .contact-container {
        min-width: 535px;
    }
}

@media only screen and (min-width: 1200px) {
    .contact-container {
        width: 240px;
        min-width: 140px;
    }
}
