.new-companies-block {
  width: 375px;
  padding: 18px 0px 38px 0px;
}


@media only screen and (min-width: 768px) {
  .new-companies-block {
    width: 768px;
  }
}

@media only screen and (min-width: 1512px) {
  .new-companies-block {
    width: 1304px;
  }
}

