.new-companies-block {
  margin-top: 10px;
  padding: 0 8%;

}


.col {
  flex: 0 0 auto;
  margin-bottom: 32px;
}


@media (max-width: 768px) {
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1512px) {
  .col {
    max-width: 50%;
    flex-basis: 50%;
  }
}


@media (min-width: 1513px) {
  .custom-col {
    max-width: 25%;
    flex-basis: 25%;
  }
}

