.send-email-form {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
  
.send-email-form__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
  
.send-email-form__row {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
  
.send-email-form__column {
    display: flex;
    width: 257px;
    height: 84px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
}
  
.send-email-form__label {
    display: flex;
    gap: 4px;
    align-self: stretch;

    color: var(--main-black-90, #292e32);
    font-feature-settings: "calt" off;

    /* Text/Body/14-Regular */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
    text-align: left;
}
  
.send-email-form__label--required {
    color: var(--dust-red-5, #ff4d4f);
    text-align: right;
    font-family: SimSong;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.001px;
}
  
.send-email-form__label--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
}
  
.send-email-form__field {
    display: flex;
    width: 520px;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #fff);
}
  
.send-email-form__input {
    display: flex;
    height: 22px;
    padding: 5px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 2px;
    border: 1px solid var(--neutral-5, #d9d9d9);
    background: var(--main-white, #fff);
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));

    /* Body/regular */
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
  
.send-email-form__input:focus {
    outline: none;
}
  
.send-email-form__error {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: var(--red-red-100, #f34444);

    /* Body/regular */
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
