.page {
    width: 1513px;
    height: 1454px;
    flex-shrink: 0;
    background: var(--primary-green-80, #1f9a7c);
  }
  
  .container {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
  }
  
  .text404 {
    display: flex;
    width: 408px;
    height: 178px;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-green-20, #effff6);
    font-feature-settings: "calt" off;
    font-family: Inter;
    font-size: 200px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 10% */
    letter-spacing: -2px;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  
  .explanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  
  .main {
    color: var(--primary-green-20, #effff6);
  
    /* Header/H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.48px;
  }
  
  .details {
      width: 548px;
    color: var(--primary-green-20, #effff6);
    font-feature-settings: "calt" off;
  
    /* Text/16-Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
  }
  
  a {
      font-family: Inter;
  }