.footer-bottom {
    display: flex;
    width: 1304px;
    padding: 6px 104px;
    align-items: flex-start;
    gap: 864px;

    background: var(--gray-1, #333);
}

.footer-bottom__text {
    color: var(--wf-base-white, #FFF);
    font-feature-settings: 'calt' off;

    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}

.footer-bottom-logo__svg {
    width: 165px;
    height: 20px;
}
