:root {
  --text-color: #292e32;
  --main-style-signs-color: #0b6c61;
  --main_light-color: white;
  --pagination-style-color: #1f9a7c;
  --link-color: #61dafb;
  --companies-card-box-shadow: rgba(65, 64, 69, 0.2);
  --companies-card-lover-text: #767f86;
  --companies-card-address: #59636a;
  --companies-card-button: green;
  --new-companies-main: #f1fff7;
}
