.submit-button__conteiner {
    display: flex;
    align-items: flex-start;
    padding: 11px 17px;
    background-color: var(--main-white);
}

.submit-button {
    border-radius: 4px;
    background: var(--main-button-color);
    color: var(--main-button-text-color);
    padding: 10px 16px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.submit-button:hover {
    background: var(--main-button-hover-color);
}

@media only screen and (min-width: 768px) {
    .submit-button__conteiner {
        padding: 11px 24px;
    }
}
