.sign-up-footer__buttons {
    display: flex;
    align-items: flex-start;
    padding: 6px 0px;
    background: #EFFFF6;
    width: var(--main-block-size);
}

.sign-up__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #1F9A7C;
    background: #1F9A7C;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color: white;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-style: normal;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    border: 1px;
    gap: 10px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    margin-left: 430px;
}

.sign-up__button:active {
    transform: translateY(2px);
}
