.footer-top {
    display: flex;
    width: var(--main-block-size);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    background: var(--footer-backround);
}

.footer-top-content {
    display: flex;
    align-items: flex-start;
    gap: 180px;
    padding: 24px 104px;
}
