.footer-top {
    display: flex;
    width: 1304px;
    padding: 24px 104px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    background: var(--main-black-80, #3C4044);
}

.footer-top-content {
    display: flex;
    align-items: flex-start;
    gap: 80px;
}
