.navigation-content {
    display: flex;
    align-items: flex-start;
    gap: 140px;
}

.navigation-content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.navigation-content-section__text {
    color: var(--footer-font-color);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}

.navigation-content-section-service__text {
    color: var(--footer-font-color);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
    width: fit-content;
    white-space: nowrap;
}
