.policy-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 79px;
}

.policy-content-logo {
    color: var(--main-white, #FFF);
    font-feature-settings: 'calt' off;
    font-family: var(--font-logo);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.policy-content-links {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.policy-content-links__text {
    color: var(--wf-base-500, #A0ABC0);
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;

    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    white-space: nowrap; 
}