.dot-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  z-index: 1;
}

.dot-block.up-right {
  top: 205px;
  left: 971px;
}

.dot-block.down-left {
  top: 530px;
  left: 358px;
}

.dot-row {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
