.content {
  padding-left: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.main-page__button {
  font-family:  var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #8d959c;
  text-decoration: none;
}

.current-page__button {
  font-family:  var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #25292c;
  text-decoration: none;
}

.goback__button {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-green-80, #1f9a7c);
  background: var(--main-white, #fff);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
  color: var(--primary-green-80, #1f9a7c);
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family:  var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
  cursor: pointer;
  margin-right: 32px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid #25292c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin: 0px 15px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid #1f9a7c;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}
