.delete__description p {
    text-align: left;
    color: #292E32;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
}

.buttons__section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    border-top: 1px #E2E5EB solid;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 16px;
}

.button__cancel {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: white;
    border: 1px solid #A3AAB0; 
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #25292C;
}

.button__delete {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #F15831;
    border: 1px solid #F15831;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;    
}

.button__delete__disabled {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: white;
    border: 1px solid #F15831;
    color: #F15831;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center; 
}

.delete-header {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--main-white, #FFF);
    box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    font-feature-settings: 'calt' off;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.form__body {
    margin: 8px 24px 24px 24px;
}

.delete__description {
    margin: 24px 24px 8px 24px;
}

.fields__label {
    display: flex;
    padding-bottom: 8px;
    align-items: center;
    gap: 4px;
    angle: 0 deg;  
}

.fields__label--text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.fields__field {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    border: 1px solid #D9D9D9;
    margin-bottom: 30px;
}

.fields__field--input {
    display: flex;
    height: 22px;
    padding: 5px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 2px;
    border: 1px solid var(--neutral-5, #D9D9D9);
    background: var(--main-white, #FFF);
}

.fields__field--input:focus {
    border-radius: 2px;
    border: 1px solid #1f9a7c;
    background: #fff;
    outline: none;
  }

.password__eye {
    width:23px; 
    padding: 5px 3px 2px 3px; 
    cursor: pointer;  
}

.delete__cancelButton {
    cursor: pointer;
}