.auth-page {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: var(--min-height-block-main);
  flex-shrink: 0;
  background: var(--main-background);
}

@media only screen and (min-width: 768px) and (max-width: 1511px) {
  .auth-page {
    min-width: 768px;
  }
}
