.auth-page {
  display: flex;
  justify-content: center;
  width: var(--main-block-size);
  min-height: var(--min-height-block-main);
  flex-shrink: 0;
  background: #F9F5EC;
}

@media only screen and (min-width: var(--breakpoint-tablet)) and (max-width: var(--breakpoint-desktop)) {
  .auth-page {
    max-width: var(--breakpoint-tablet);
  }
}
