.login {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
  gap: 24px;
}


@media screen and (min-width: var(--breakpoint-tablet)) and (max-width: var(--breakpoint-desktop)) {
  .login {
    min-width: none;
  }
}
