.signup-invitation {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.signup-invitation p {
  margin: 0;
  color: var(--link-text-color-new);
  font-feature-settings: "calt" off;
  font-family: var(--font-main-new);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.signup-invitation a {
  color: var(--link-text-color-new);
  font-feature-settings: "calt" off;
  font-family: var(--font-main-new);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
}

.signup-invitation a:focus {
  outline: none;
}
