.page {
  min-height: 470px;
  border-radius: 8px;
  background: var(--wf-base-white, #fff);
  flex-grow: 1;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 1305px;
  gap: 16px;
  margin: 17px 100px;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
