.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.results-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
