<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        body {
            color: black;
            font-family: Arial, sans-serif;
        }
        p, b {
            color: black;
        }
    </style>
</head>
<body>
    <div>
        <img src="{{protocol}}://178.212.110.52/craftMerge-logo.png" alt="CRAFTMERGE"/>
        <p>Доброго дня,</p>
        <p>Кількість банерів: {{ num_of_banners }}   Загальний розмір: {{ size_of_banners }} Кб</p>
        <p>Кількість логотипів: {{ num_of_logos }}   Загальний розмір: {{ size_of_logos }} Кб</p>

        <p>З повагою,</p>
        <p>Команда CraftMerge</p>
    </div>
</body>
</html>