.banner-image__block {
    width: 100vw;
    height: 200px;
}

.default-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: var(--main-grey-20, #DEE1E8);
}
