.profile-detail__main {
    display: flex;
    flex-direction: column;
}

.profile-detail__loader-content {
    display: flex;
}

.profile-detail__banner-tooltip {
    display: flex;
    position: absolute;
    padding-top: 12px;
    padding-left: 112px;
}

.profile-detail__logo-tooltip {
    display: flex;
    position: absolute;
    padding-top: 5px;
    padding-left: 3px;
}

@media only screen and (min-width: 768px) {
    .profile-detail__page  {
        flex-direction: column;
    }

}

@media only screen and (min-width: 1512px) {
    .profile-detail__page  {
        flex-direction: column;
    }
        
    .profile-detail__page {
        align-items: center;
     }
}