.profile-detail__main {
    display: flex;
    flex-direction: column;
}

.profile-detail__loader-content {
    display: flex;
}

.profile-detail__page {
    display: flex;
    flex-direction: column;
}

.profile-detail__tags {
    display: flex;
    align-items: flex-start;
    color: black;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.8px;
    letter-spacing: -0.34px;
    white-space: nowrap;
}

.profile-detail__banner-tooltip {
    display: flex;
    position: absolute;
    padding-top: 12px;
    padding-left: 112px;
}

.profile-detail__logo-tooltip {
    display: flex;
    position: absolute;
    padding-top: 5px;
    padding-left: 3px;
}

@media only screen and (min-width: 768px) {
    .profile-detail__page  {
        flex-direction: column;
    }

}

@media only screen and (min-width: 1512px) {
    .profile-detail__page  {
        flex-direction: column;
    }
        
    .profile-detail__page {
        align-items: center;
     }
}