version: node:14 AS development

services:
  frontend:
    container_name: frontend
    build: .
    ports:
      - 3000:3000
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm start
