.divider {
    width: 100%;
    height: 1px;
    background: #E2E5EB;
}

.privacy-text {
    font-family: var(--font-main);
    font-size: 18px;
    line-height: 1.42857; /* 20px divided by 14px */
    letter-spacing: -0.14px;
}