# Default ignored files
/shelf/
/workspace.xml
/.idea
/venv
/.venv
/.env
env
/*/.env
/.DS_Store
__pycache__/
/frontend/node_modules

backend/public/*
!backend/public/media/.gitkeep
!backend/public/static/.gitkeep
