# Default ignored files
/shelf/
/workspace.xml
/.idea
/venv
/.venv
/.env
env
/.vscode
/*/.env
/.DS_Store
__pycache__/
/FrontEnd/node_modules
django.log
BackEnd/celerybeat-schedule.*

BackEnd/public/*
!BackEnd/public/media/.gitkeep
!BackEnd/public/static/.gitkeep