# Default ignored files
/shelf/
/workspace.xml
/.idea
/venv
/.venv
/.env
/.DS_Store
__pycache__/
/authentication/migrations/
/db.sqlite3
/.sqlite3
/*.sqlite3
/forum/local_settings.py
/node_modules
package-lock.json
package.json
/FrontEnd/node_modules
/FrontEnd/package-lock.json
/FrontEnd/package.json
