.autoapprove-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.autoapprove-section__head {
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0;
}

.autoapprove_label {
    font-size: 14px;
    margin:  20px 0;
}

.autoapprove_label::before {
    content: "*";
    color: #FA1B1F;
    padding: 0 2px;
}

.autoapprove-input {
    width: 269px;
    height: 32px;
    box-sizing: border-box;
    padding-left: 4px;
    font-size: 16px;
    border: 1px solid var(--border-input__admin-panel);
    border-radius: 2px;
}

.autoapprove-input:focus {
    outline: none;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 269px;
    margin-top: 24px;
}

.button {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 124px;
    border-radius: 4px;
    background: #B4D27A;
    color: black;
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
    cursor: pointer;
}

.cancel-button {
   background-color: white;
   border: 1px solid #B4D27A;
}

.error-message {
    color: rgb(212, 21, 21);
    font-family: var(--font-main);
    font-size: 14px;
    max-width: 267px;
}