.header-profile-section {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid var(--main-black-20, #E2E5EB);
  background: var(--conditional-pop-over, #FFF)
}