.save-password__button,
.save-password__button__disabled {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: var(--main-button-color);

  color: var(--main-button-text-color);
  text-align: center;
  font-feature-settings: "calt" off;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;

  cursor: pointer;
}

.save-password__button:hover {
  background: var(--main-button-hover-color);
}

.save-password__button__disabled {
  background: var(--main-button-disabled-color);
  color: var(--main-button-disabled-text-color);
}

.sign-in-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.sign-in-line__link {
  color: var(--link-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
}
