.form__text {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--main-text-color);
}

.send-email__button,
.send-email__button__disabled {
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #000000;

  color: var(--light-button-text-color);
  text-align: center;
  font-feature-settings: "calt" off;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;

  cursor: pointer;
}

.send-email__button__disabled {
  border: 1px solid #BFC6CF;
  background: #EEEFF1;
  color: #A3AAB0;
}

.sign-in-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.sign-in-line__text {
  margin: 0;
  color: var(--link-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.sign-in-line__link {
  color: var(--link-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
}
