.menu-section {
    display: flex;
    width: 20%;
    padding:20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.menu-section-element {
    color: var(--main-grey-100, #000);
    font-feature-settings: 'calt' off;

    /* Text/14-Semi bold */
    text-decoration: none;
    font-family: var(--font__admin-panel);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.14px;
}

.menu-section-divider {
    height: 1px;
    align-self: stretch;
    width: 150px;
    background: var(--main-black-20, #E2E5EB);
}

.menu-section-logout {
    color: var(--system-red-100, #F15831);
    font-feature-settings: 'calt' off;

    /* Text/14-Regular */
    text-decoration: none;
    font-family: var(--font__admin-panel);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.14px;
}
