.company-card {
  width: 345px;
  height: 365px;
  display: block;
  border-radius: 11px;
  position: relative;
  margin: auto;
  background: var(--company-card-color);
  box-shadow: 0px 0px 2px 0px #41404533;
}

.company-card:hover {
  background: var(--company-card-color-hover);
}

.company-card__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-card__image-frame {
  width: 345px;
  height: 188px;
}

.company-card__badge-is-updated {
  width: 73px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--companies-card-badge-is-updated);
  text-transform: uppercase;
  border-radius: 4px;
  position: absolute;
  top: 13px;
  left: 12px;
  font-family: var(--font-main);
  font-size: 10px;
  font-weight: 600;
  color: var(--companies-card-badge-text-color);
  line-height: 16px;
}

.company-card__image {
  width: 345px;
  height: 188px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  flex-shrink: 0;
  object-fit: cover;
}

.company-card__text-block {
  width: 345px;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 12px;
  padding: 16px;
  border-radius: 0 0 12px 12px;
}

.company-card__text-block__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.company-card__category-text {
  color: var(--companies-card-regions-text);
  text-align: center;
  font-family: var(--font-logo);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  max-width: 262px;
  height: 32px;
}

.company-card__name-text {
  color: var(--companies-card-text-color);
  font-family: var(--font-logo);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;
  height: 44px;
}

.company-card__region-text {
  height: 20px;
  color: var(--companies-card-address);
  font-feature-settings: 'calt' off;
  font-family: var(--font-logo);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-align: left;
  margin-top: -8px;
}

.company-card__footer_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-card__badges_block {
  height: 30px;
  display: inline-block;
  overflow: hidden;
  max-width: 272px;
  margin-left: -5px;
}

.company-card__badge-text {
  color: var(--company-card-color);
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.company-card__logo {
  width: 50px;
  height: 50px;
  background: var(--company-card-color);
  border-radius: 50%;
  border: 1px solid var(--grey-border-color);
  position: absolute;
  right: 20px;
  bottom: 152px;
}

.company-card__logo-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--company-card-color);
  object-fit: cover;
}

.company-card__star {
  position: absolute;
  left: 296px;
  bottom: 9px;
}

@media only screen and (min-width: 1200px) {

  .company-card,
  .company-card__image-frame,
  .company-card__image,
  .company-card__text-block {
    width: 357.33px;
  }

  .company-card__star {
    left: 311px;
  }

  .company-card__category-text {
    max-width: 275px;
  }
}

@media only screen and (min-width: 1512px) {

  .company-card,
  .company-card__image-frame,
  .company-card__image,
  .company-card__text-block {
    width: 302px;
  }

  .company-card__star {
    left: 256px;
  }

  .company-card__category-text {
    max-width: 220px;
  }
}
