.company-card {
  width: 345px;
  height: 365px;
  display: block;
  align-items: center;
  border-radius: 11px;
  position: relative;
  margin: auto;
  background: var(--company-card-color);
}

.company-card:hover {
  background: var(--company-card-color-hover);
}

.company-card__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company-card__image-frame {
  width: 345px;
  height: 188px;
}

.company-card__empty-image {
  width: 103px;
  height: 80px;
  flex-shrink: 0;
  margin-top: 80px;
  margin-left: 125px;
  object-fit: cover;
}

.company-card__tooltip {
  display: flex;
  flex-direction: column;
}

.company-card__image {
  width: 345px;
  height: 188px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  flex-shrink: 0;
  object-fit: cover;
}

.company-card__text-block {
  width: 345px;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 0 0 12px 12px;
}

.company-card__text-block__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.company-card__category-text {
  color: var(--companies-card-regions-text);
  text-align: center;
  font-family: var(--font-logo);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  padding-left: 16px;
  max-width: 300px;
}

.company-card__name-text {
  height: 48px;
  color: var(--companies-card-text-color);
  font-family: var(--font-logo);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: left;
  padding-left: 16px;
}

.company-card__name-text_link {
  text-decoration: none;
  color: var(--companies-card-text-color);
}

.company-card__name-text_link:visited {
  color: var(--companies-card-text-color);
}

.company-card__region-text {
  height: 20px;
  color: var(--companies-card-address);
  font-feature-settings: 'calt' off;
  font-family: var(--font-logo);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
  text-align: left;
  padding-left: 16px;
}

.company-card__footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 302px;
  padding-left: 13px;
  padding-bottom: 2px;
}

.company-card__badges_block {
  height: 25px;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 6px;
}

.company-card__badge-text {
  color: var(--company-card-color);
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.company-card__logo {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 152px;
}

.company-card__logo-ellipse {
  width: 50px;
  height: 50px;
  background: var(--company-card-color);
  border-radius: 9999px;
  border: 2px solid #232424;
}

.company-card__logo-image {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background: var(--company-card-color);
  object-fit: cover;
}

.company-card__buttons {
  color: var(--companies-card-button);
  border: none;
  background-color: var(--company-card-color);
}

.company-card__buttons:hover {
  cursor: pointer;
}

.company-card__star {
  position: absolute;
  left: 296px;
  bottom: 13px;
}

@media only screen and (min-width: 1200px) {
  .company-card,
  .company-card__image-frame,
  .company-card__image,
  .company-card__text-block {
    width: 302px;
  }

  .company-card__star {
    left: 256px;
  }
  .company-card__category-text {
    max-width: 250px;
  }
}