.cookie-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 600px;
  background: var(--cookie-light-color);
  box-shadow: 0 4px 12px var(--cookie-shadow-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2000;
}

.cookie-content {
  text-align: left;
  padding: 5px 5px;
}

.cookie-logo {
  width: 42.96px;
  height: 40px;
  gap: 0px;
  opacity: 1;
  margin-right: 8px;
}

.cookie-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.cookie-title {
  font-family: var(--font-main);
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: var(--cookie-dark-color);
  padding: 10px 5px;
  border-radius: 4px;
}

.cookie-text {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: var(--cookie-dark-color);
}

.cookie-link {
  font-size: 14px;
  line-height: 1.5;
  margin-left: 4px;
  color: var(--cookie-black-color);
  text-decoration: underline;
  cursor: pointer;
}

.cookie-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 11px;
  margin-top: 20px;
}

.allow-all-btn {
  font-family: var(--font-main);
  line-height: 20px;
  background: var(--main-button-color);
  color: var(--main-button-text-color);
  width: 144px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.allow-all-btn:hover {
  background: var(--main-button-hover-color);
}

.deny-btn {
  font-family: var(--font-main);
  line-height: 20px;
  background: var(--light-button-color);
  color: var(--light-button-text-color);
  width: 144px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid var(--light-button-border-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deny-btn:hover {
  background: var(--light-button-hover-color);
}

@media (max-width: 768px) {
  .cookie-banner {
    bottom: 15px;
    right: 10px;
    padding: 15px 15px;
    width: 90%;
    max-width: 640px;
  }
}

@media (max-width: 380px) {
  .cookie-banner {
    width: 100%;
    max-width: 375px;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
  }

  .cookie-content {
    padding: 5px;
    text-align: center;
  }
}
