.modal-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal-window.active {
  visibility: visible;
}

.modal-content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  /* height: 230px; */
  width: 300px;
}

.green-btn {
  color: #ffffff;
  background: #20aa87;
  border-color: #1f9a7c;
  border-style: solid;
  font-size: 15px;
  border-radius: 4px;
  margin: 14px;
  margin-right: 50px;
  padding: 4px;
}

.red-btn {
  color: #ffffff;
  background: #fa7979;
  border-color: #fa7979;
  border-style: solid;
  font-size: 15px;
  border-radius: 4px;
  margin: 10px;
  margin-left: 20px;
  padding: 4px;
}

.cookie-image {
  margin-left: 95px;
  margin-right: 50px;
  width: 100px;
  height: 70px;
}

.cookie-text {
  text-align: justify;
  color: #187860;
}
