.detail-info-page_block {
    display: flex;
    width: var(--profile-detail-width);
    align-items: center;
    justify-content: center;
}

.detail-info-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 344px;
    padding: 24px 16px;
}

.company-description-block {
    width: 100%;
}

.profile-detail__tags-mobile {
    display: flex;
    align-items: flex-start;
    color: var(--profile-detail-info-color-title);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.18px;
    white-space: nowrap;
}

.profile-detail__tags-desktop {
    display: none;
}

.empty-data-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-data {
    color: #A3AAB0;
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

@media only screen and (min-width: 768px) {
    .detail-info-page {
        display: flex;
        flex-direction: column;
        width: 760px;
        padding: 24px 0;
    }

    .company-description-block {
        width: 720px;
    }

    .profile-detail__tags-mobile {
        font-size: 34px;
        line-height: 40.8px;
        letter-spacing: -0.34px;
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .detail-info-page_block {
        justify-content: center;
    }

    .detail-info-page {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 1100px;
    }

    .company-description-block {
        width: 860px;
    }

    .profile-detail__tags-mobile {
        display: none;
    }

    .profile-detail__tags-desktop {
        display: flex;
        align-items: flex-start;
        color: var(--profile-detail-info-color-title);
        font-feature-settings: 'calt' off;
        text-decoration: none;
        font-family: var(--font-main);
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 40.8px;
        letter-spacing: -0.34px;
        white-space: nowrap;
    }
    .empty-data {
        padding-left: 100px;
    }
}

@media only screen and (min-width: 1512px) {
    .detail-info-page {
        width: 1304px;
    }

    .company-description-block {
        width: 860px;
    }
}
