.detail-info-page {
    display: flex;
    flex-direction: column;
    width: 343px;
}

.profile-detail__tags {
    display: flex;
    align-items: flex-start;
    color: black;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.8px;
    letter-spacing: -0.34px;
    white-space: nowrap;
}
