.about-us-cards-main-container {
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100vw;
}

.about-us-cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1260px;
    width: 100%;
    height: 448px;
    padding: 80px 104px;
}

.about-us-cards-section__header-text {
    font-family: Geologica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    color: #232424;
    margin-bottom: 40px;
    text-align: center;
}

.about-us-cards-section__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
}

.about-us-cards-section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: #f9f5ec;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(65, 64, 69, 0.2);
    transition: transform 0.2s ease;
}

.about-us-cards-section__cards-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 16px;
}

.about-us-cards-section__cards-content__text-header {
    font-family: Geologica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #232424;
}

.about-us-cards-section__cards-content__text {
    font-family: Geologica, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #292e32;
}

@media (min-width: 768px) and (max-width: 1511px) {
    .about-us-cards-section__cards {
        grid-template-columns: repeat(2, 1fr);
        justify-content:center;
        box-sizing: border-box;

    }
    .about-us-cards-section {
        width: 680px;
        height: auto;

    }
    .about-us-cards-section__card {
        width: 320px;
        height: 120px;

    }

}

@media (max-width: 767px) {
    .about-us-cards-section {
        max-width: 345px;
        height: auto;

    }
    .about-us-cards-section__header-text {
        font-size: 29px;
        
    }
    .about-us-cards-section__cards {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .about-us-cards-section {
        padding: 24px 16px;
    }
}
