.title-block {
  display: flex;
  background: var(--profile-detail-title-background);
  width: var(--profile-detail-width);
  justify-content: center;
}

.title-block__content {
  display: flex;
  padding: 24px 16px;
  width: 345px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.title-block__content-info {
  display: flex;
  flex-direction: column;
}

.title-block__logo-block {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-block__logo-img {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: scale-down;
}

.title-block__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.title-block__activity {
  color: var(--profile-detail-title-color-activity);
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.14px;
}

.title-block__company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.title-block__company_name {
  color: var(--profile-detail-title-color-company-name);
  font-family: var(--font-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.24px;
}

.title-block__company_category {
  display: flex;
  align-items: flex-start;
}

.title-block__company_region {
  color: var(--profile-detail-title-color-company-region);
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
}

.title-block__link {
  height: 22px;
}

.added_to_saved__button {
  background: var(--profile-detail-title-color-company-button);
}

.title-block__button-block {
  display: flex;
  justify-content: center;
}

.title-block__button {
  display: flex;
  height: 46px;
  width: 345px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid var(--profile-detail-title-color-company-button);
  cursor: pointer;
}

.title-block__button--text {
  display: flex;
  color: var(--profile-detail-title-color-company-button);
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
  padding-right: 4px;
}

.added_to_saved__button--text {
  color: var(--profile-detail-title-color-company-button-saved);
}

@media only screen and (min-width: 768px) {
  .title-block__content {
    width: 765px;
    padding: 40px 24px;
  }

  .title-block__content-info {
    flex-direction: row;
    gap: 24px;
  }

  .title-block__button-block {
    padding-left: 84px;
  }

  .title-block__button {
    width: 253px;
  }
}

@media only screen and (min-width: 1512px) {
  .title-block {
    flex-direction: row;
  }

  .title-block__content {
    width: 1304px;
    padding: 40px 104px;
    flex-direction: row;
    justify-content: space-between;
  }

  .title-block__button {
    width: 100%;
    min-width: 124px;
  }
}
