.title-block {
  display: flex;
  background: #F9F5EC;
  width: 100vw;
  justify-content: center;
}

.title-block__content {
  display: flex;
  padding: 24px 16px;
  width: 345px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.title-block__content-info {
  display: flex;
  flex-direction: column;
}

.title-block__logo-block {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-block__logo-img {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: scale-down;
}

.title-block__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  gap: 4px;
}

.title-block__activity {
  color: #707070;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.8px;
  letter-spacing: -0.14px;
}

.title-block__company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.title-block__company_name {
  color: #232424;
  font-family: var(--font-main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.24px;
}

.title-block__company_category {
  display: flex;
  align-items: flex-start;
}

.title-block__company_region {
  color: #000000;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
}

.title-block__link {
  height: 22px;
}

.added_to_saved__button {
  background: #232424;
}

.title-block__button-block {
  display: flex;
  justify-content: center;
}

.title-block__button {
  display: flex;
  height: 46px;
  width: 345px;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #232424;
  cursor: pointer;
}

.title-block__button--text {
  display: flex;
  color: #232424;
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
}

.added_to_saved__button--text {
  color: var(--main-white, #fff);
}

@media only screen and (min-width: 768px) {
  .title-block__content {
    width: 765px;
    padding: 40px 24px;
  }

  .title-block__content-info {
    flex-direction: row;
    gap: 24px;
  }

  .title-block__button-block {
    padding-left: 84px;
  }

  .title-block__button {
    width: 353px;
  }
}

@media only screen and (min-width: 1512px) {
  .title-block {
    flex-direction: row;
    height: 220px;
  }

  .title-block__content {
    width: 1304px;
    padding: 40px 104px;
    flex-direction: row;
    justify-content: space-between;
  }

  .title-block__button {
    width: 221px;
  }
}
