@import './search_field/companies/variables.css';

.main_block_outer {
  padding-top: 10px;
  width: 1512px;
}

.new-companies-main {
  background-color: var(--new-companies-main);
}

.main_block {
  position: relative;
}

.new-companies-search_count {
  display: flex;
  margin: auto;
  padding-left: 10%;
}

.search_field_entered_value {
  color: #0b6c61;
  font: Inter;
  font-weight: 600;
  font-style: italic;
}

.search_results_text {
  font: Inter;
  font-weight: 700;
}

.search_result_error {
  font-weight: 600;
  color: var(--text-color);
  font: Inter;
  margin: 145px;
}

.frame-img-right {
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateY(-50%);
}

.new-companies-result_pages {
  padding: 40px;
}

.pagination {
  background-color: var(--main_light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: none;
  color: var(--pagination-style-color);
  border: 1px solid var(--pagination-style-color);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}
