* {
  /* outline: 1px solid red;                          */
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_block {
  position: relative;
}

.new-companies-search_count {
  display: flex;
  margin:auto;
  padding-left: 7%;
}

.search_field_entered_value {
  color: #0B6C61;
  font: Inter;
  font-weight: 600;
  font-style: italic;
  /* size: 24px;
  line-height: 24px; */
}

.search_results_text {
  font: Inter;
  font-weight: 700;
  /* size: 20px;
  line-height: 24px; */

}

.search_result_error {
  font-weight: 600;
  color: #292E32;
  font: Inter;
  /* size: 16px;
  line-height: 20px; */
}

.search_result_error_search_value {
  color: #0B6C61;
}

.frame-img-right {
  position: absolute;
  top: 150px;
  right: 0;
  transform: translateY(-50%);
}