.about-us-text-section {
    display: flex;
    padding: 80px 104px;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    background: #FFF;
    overflow: hidden;
}
.about-us-text-section__text-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}
.about-us-text-section__header-text {
    width: 971px;
    color: #292E32;
    font-family: Inter, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.about-us-text-section__text {
    width: 971px;
    height: 62px;
    color: #292E32;
    font-feature-settings: 'calt' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
}

.about-us-text-section__paragraphs {
    display: flex;
    width: 1304px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 36px;
}
.about-us-text-section__paragraph-one {
    align-self: flex-start;
    width: 466px;
    flex-shrink: 0;
    color: #292E32;
    font-feature-settings: 'calt' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.16px;
    content: "\2022";
}
.about-us-text-section__paragraph-two {
    width: 489px;
    flex-shrink: 0;
    color: #292E32;
    font-feature-settings: 'calt' off;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.16px;
}
.about-us-text-section__paragraph-one span::before,
.about-us-text-section__paragraph-two span::before {
    content: "\2022";
    margin-right: 8px;
}

.about-us-text-section__ellipses-groups {
    width: 353px;
    position: relative;
    left: -110px;
    bottom: 210px;
}
.about-us-text-section__first_ellipses-group {
    width: 179px;
    height: 150px;
    left: 174px;
    top: 116px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.about-us-text-section__second_ellipses-group {
    width: 179px;
    height: 150px;
    left: 0;
    top: 116px;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.about-us-text-section__third_ellipses-group {
    width: 179px;
    height: 150px;
    left: 174px;
    top: 0;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.about-us-text-section__fourse_ellipses-group {
    width: 179px;
    height: 150px;
    left: 0;
    top: 0;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
