.table-section {
    margin-bottom: 25px;
    margin-top: 10px;
    min-width: 1050px;
    width: 60%;
    overflow: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center; /* Вирівнюємо текст по центру в таблиці */
}

.table-header {
    text-align: left;
    background: rgb(214, 243, 234);
    backdrop-filter: blur(4px);
}

.table-header__text, .table-element__text {
    padding: 20px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-align: center;
}

.table-element {
    transition: transform 0.2s ease;
    display: table-row;
}

.table-element:hover {
    transform: scale(1.03);
}

.table-element:nth-child(odd) {
    background: var(--blue-0, #eef8ff);
}

.table-element:nth-child(even) {
    background: var(--blue-0, #ecefff);
}

.table-element td {
    vertical-align: middle;
    display: table-cell;
    text-align: center; /* Вирівнюємо текст по центру в колонках */
}
