.buttons-section {
    display: flex;
}

.buttons-section-content {
    margin-top: 25px;

}

.pagination-button {
    padding: 3px 8px;
    border-radius: 4px;
    border: 1px solid #1F9A7C;
    background: #1F9A7C;
    color: #fff;
    box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 4%);

    font-size: 17px;
}

.pagination-button:hover {
    background: #fff;
    color: #1F9A7C;
}

.pagination-counter {
    margin: 10px;
    font-size: 14px;
    font-family: Inter;
    color: #000000;
}