.table-section {
    border-collapse: collapse;
    margin-bottom: 25px;
    margin-top: 10px;
    min-width: 1050px;
}

.table-header {
    text-align: left;
    background: rgb(214, 243, 234);
    backdrop-filter: blur(4px);
}

.table-header__text, .table-element__text {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.table-element {
    transition: transform 0.2s ease;
    border-bottom: 1px solid var(--main-black-20, #E2E5EB);
}

.table-element:hover {
    transform: scale(1.03);
}

.table-element:nth-child(odd) {
    background: var(--blue-0, #eef8ff);
}

.table-element:nth-child(even) {
    background: var(--blue-0, #ecefff);
}