.main-page-section {
    margin-top: 25px;
    margin-bottom: 125px;
    text-align: left;
}

.main-page-section h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.main-page-section p {
    font-size: 30px;
}
