.alert-message {
  display: flex;
  width: 395px;
  padding: 9px 16px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  margin: 8px 0px 677px 1073px;
  border-radius: 2px;
  border: 1px solid #ffccc7;
  background: #fff1f0;
}

.alert-message__content {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.alert-message button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.alert-message__icon {
  display: flex;
  padding: 2px;
  align-self: center;
  align-items: flex-start;
  gap: 10px;
}
