.main-page-section {
    margin-top: 25px;
    margin-bottom: 180px;
    text-align: left;
    margin-left: 25px;
}

.main-page-section h1 {
    font-size: 20px;
    margin-bottom: 50px;
}

.main-page-section p {
    font-size: 20px;
}
