.main-page-section {
    margin-top: 25px;
    margin-bottom: 180px;
    text-align: left;
    margin-left: 25px;
}

.main-page-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 20px;
    margin-bottom: 20px;
}

.text-section {
    margin-top: 20px;
}

.text-item {
    margin-bottom: 20px;
}

.text-item p {
    font-size: 18px;
}
