.checkbox {
    display: flex;
    width: 400px;
    align-items: flex-start;
    gap: 273px;
}

.checkbox label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #292e32;
    font-feature-settings: "calt" off;
    font-family: var(--font-main);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.checkbox input {
    appearance: none;
    background-color: #fff;
    margin: 0;
    display: grid;
    place-content: center;
    border-radius: 2px;
    border: 1px solid var(--main-black-20, #e2e5eb);
    cursor: pointer;

}

.checkbox input:focus {
    outline: none;
    border: 1px solid #1f9a7c;
}

.checkbox input::before{
    content: "";
    width: 16px;
    height: 16px;
}

.checkbox input:checked {
    background: var(--primary-green-80, #1f9a7c);
    border-radius: 2px;
    border: 1px solid var(--primary-green-80, #1f9a7c);
}

.checkbox input:checked::before{
    transform: scale(1);
    content: "\2713";
    font-size: 17px;
    text-align: center;
    position: relative;
    bottom: 3px;
    color: #f0f0f0;
}
