  .moderation-warning {
  display: flex;
  align-items: flex-start;
  color: black;
  padding: 16px
  }
  
  .warning-icon {
    background-color: #ffa500;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .moderation-text {
  font-family: var(--font-main), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: black;
  }
  
  .moderation-text span {
    display: block;
  }
  