.form__container {
  word-wrap: break-word;
  background-color: var(--main-white);
  border-radius: 6px;
  height: fit-content;

}

.form__container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.form__head {
  display: none;
}

.divider {
  display: none;
}

.bottom-divider {
  width: 100%;
  height: 1px;
  background-color: var(--light-seashell-background);
}

.submit-button__conteiner {
  display: flex;
  align-items: flex-start;
  padding: 11px 17px;
  background-color: var(--main-white);
}

.submit-button {
  border-radius: 4px;
  background: var(--main-button-color);
  color: var(--main-button-text-color);
  padding: 10px 16px;
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.submit-button:hover {
  background: var(--main-button-hover-color);
}

@media only screen and (min-width: 768px) {
  .form__container {
    width: 474px;
  }

  .form__head {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-seashell-background);
    display: inherit;
  }

  .submit-button__conteiner {
    padding: 11px 24px;
  }

}

@media only screen and (min-width: 1200px) {
  .form__container {
    width: 636px;
    margin-left: 180px;
  }
}
