.fields {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.user_form_fields {
    gap: 14px
}

.fields-groups {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.fop-field {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 8px;
}

.form__container {
    word-wrap: break-word;
    width: 530px;
}