.fields {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.user_form_fields {
    gap: 14px
}

.fields-groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 9px;
    padding-top: 7px;
}

.form__head {
    display: none;
}

.divider {
    display: none;
}

.fop-field {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 8px;
}

.form__container {
    word-wrap: break-word;
    background-color: var(--main-white);
    border-radius: 6px;
    height: fit-content;

}

.bottom-divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-seashell-background);
}

.tooltip-icon {
    margin-left: 5px;
    background-color: var(--tooltip-bg-color);
    border-radius: var(--tooltip-border-radius);
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Geologica', sans-serif;
    color: var(--tooltip-font-color);
  }

@media only screen and (min-width: 768px) {
    .form__container {
        width: 474px;
    }

    .fields-groups {
        padding-left: 16px;
    }

    .form__head {
        font-family: var(--font-main);
        font-size: 16px;
        font-weight: 600;
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 24px;
    }
    
    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--light-seashell-background);
        display: inherit;
    }
}
    
@media only screen and (min-width: 1200px) {
    .form__container {
        width: 636px;
        margin-left: 180px;
    }
}
