.startup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
}

.startup__content--block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.startup__title--text {
    color: var(--main-grey-90, #25292C);
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}


.startup__content--title {
    color: var(--main-grey-90, #25292C);
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.startup__content--description {
    color: var(--main-grey-90, #25292C);
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}
