.startup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.startup__title--text {
    color: var(--profile-detail-info-color-title);
    font-family: var(--font-main);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: -0.18px;
}

.startup__content--block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--profile-detail-info-color-text);
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
}

.startup__content--title {
    color: var(--profile-detail-info-color-text);
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
}

@media only screen and (min-width: 768px) {
    .startup__title--text {
        font-size: 34px;
        font-weight: 700;
        line-height: 40.8px;
        letter-spacing: -0.34px;
    }
}
