.rememberme-checkbox {
  display: flex;
  width: 400px;
  align-items: flex-start;
  gap: 273px;
}

.rememberme-checkbox label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #292e32;
  font-feature-settings: "calt" off;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.rememberme-checkbox input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #E2E5EB;
  background: #FFF;
  cursor: pointer;

}

.rememberme-checkbox input[type="checkbox"]::before{
  content: "";
  width: 0.65em;
  height: 0.65em;
}

.rememberme-checkbox input[type="checkbox"]:checked {
  position: relative;
}

.rememberme-checkbox input[type="checkbox"]:checked::before{
  position: absolute;
  content: "\2713";
  font-size: 0.8rem;
  left: 1.5px;
  top: -2px;
}