.signup-invitation {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.signup-invitation p {
    margin: 0;
  color: #000;
  font-feature-settings: "calt" off;

  /* Text/Body/14-Regular */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.14px;
}

.signup-invitation a {
  color: var(--accent-accelerate-1500, #00a3cf);
  font-feature-settings: "calt" off;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: -0.14px;
}
