.title-block {
    display: flex;
    width: 1280px;
    padding: 16px 12px 8px 12px;
    align-items: flex-start;
    gap: 12px;
}

.title-block__logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    box-shadow: 0px 0px 2px 0px rgba(65, 64, 69, 0.20);
}

.logo {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 26px;
    object-fit: cover;
}

.title-block__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}

.title-block__activity {
    color: var(--main-grey-90, #25292C);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.title-block__company {
    display: flex;
    align-items: center;
    gap: 16px;
}

.title-block__company_name {
    color: var(--main-grey-90, #25292C);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.title-block__company_category {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.title-block__company_region {
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.title-block__button {
    display: flex;
    height: 32px;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--primary-green-80, #1F9A7C);
    background: var(--neutral-1, #FFF);
    cursor: pointer;
}

.title-block__link {
    height: 22px;
}

.added_to_saved__button {
    background: var(--primary-green-80, #1F9A7C);
}

.title-block__button--text {
    display: flex;
    color: var(--primary-green-80, #1F9A7C);
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.added_to_saved__button--text {
    color: var(--main-white, #FFF);
}