.table-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.icon {
    font-size: 12px;
}

.empty-icon {
    width: 12px;
    height: 12px;
}

.dropdownMenu {
    padding: 8px;
}

.antBtn {
    width: 90px;
}

.antInput {
    margin-bottom: 8px;
    display: block;
}

.pagination {
    margin-top: 16px;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
}

.icon {
    font-size: 16px;
    font-weight: normal;
    color: inherit;
}

.filteredIcon {
    font-size: 25px;
    font-weight: bold;
    color: #1f9a7c;
}