.privacy_policy {
    display: flex;
    margin: 80px 100px 80px 100px;
    width: 1512px;
    max-height: auto;
    background-color: var(--light-text-color);
    scroll-behavior: smooth;

}
  
.privacy_policy__title{
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
    
}

.privacy_policy__link_container {
    margin-right: 100px;
    max-width: 234px;

    max-height: 1580px;
}

.link {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.link_text{
    width: 234px;
    height: auto;
    color: var(--main-footer-background);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.link_text:hover {
    color: var(--main-header-color);
}


.privacy_policy__img1{
    width: auto;
    height: 266px;
    margin-left: -100px;
    margin-top: 332px;
    
}

.privacy_policy__img2{
    height: 266px;
    margin-top: 688px;
    width: auto;
    margin-left: -100px;

    
}
.text_content p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    

}

.text_content__margin_bottom{
    margin-bottom: 24px;
}
.text_content__heading{
    margin-top: 24px;

}

.custom-list {
    margin:0px;
    padding-left: 20px; /* Встановлюємо відступ зліва */

}

.custom-list__item {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    


}

.privacy_policy__text_container{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}