<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        body {
            color: black;
            font-family: Arial, sans-serif;
        }
        p, b {
            color: black;
        }
    </style>
</head>
<body>
    <div>
        <img src="{{protocol}}://178.212.110.52/craftMerge-logo.png" alt="CRAFTMERGE"/>
        <p>Доброго дня,</p>
        <p>Ваш пароль для входу на платформу: {{ password }} </p>
        <p>Посилання для входу: {{ domain }}/login </p>

        <p>З повагою,</p>
        <p>Команда CraftMerge</p>
    </div>
</body>
</html>