.fields__column {
    display: flex;
    padding: 0px 0px 15px 7px;
    flex-direction: column;
}

.fields__label {
    display: flex;
    padding-bottom: 9px;
    align-items: center;
    gap: 4px;
}

.fields__label--required {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF4D4F;
}

.fields__field--notrequired {
    padding-top: 2px;
}

.fields__label--text {
    flex: 1 0 0;
    font-feature-settings: 'calt' off;
    font-style: normal;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: var(--font-error);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.formControlFocused {
    border: 1px solid #1f9a7c;
    background: #fff;
}

.select-container {
    width: 311px;
    min-height: 40px;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding-top: 4px;
}

.select-container:focus-within {
    border: 1px solid var(--primary-green-80);
}

@media only screen and (min-width: 768px) {
    .select-container {
        width: 426px;
    }
}

@media only screen and (min-width: 1200px) {
    .select-container {
        width: 588px;
    }
}