.password-field__item {
    display: flex;
    width: 311px;
    min-height: 66px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
}

.password-field__label--content {
    font-feature-settings: "calt" off;
    align-items: center;
    color: var(--main-black-90);
    display: flex;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 4px;
    letter-spacing: -.14px;
    line-height: 20px;
}

.password-field__label-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.password-field__label--hint {
    padding-bottom: 3px;
    font-size: 10px;
    line-height: 12.5px;
    font-family: 'Geologica';
    font-weight: 400;
    letter-spacing: -0.01em;
}

.password-field__label-wrapper span {
    padding-right: 5px;
    color: #FF4D4F;
}

.password-field__item input {
    border: none;
    font-family: 'Geologica';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.password-field__item input:focus {
    border: none;
    outline: none;
}

.password-field__password {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fff;
    height: 30.5px;
}

.password-field__password:focus {
    border-radius: 2px;
    border: 1px solid #1f9a7c;
    background: #fff;
    outline: none;
}

.password-field__password:focus-within {
    border-radius: 2px;
    border: 1px solid #1f9a7c;
    background: #fff;
}

.password-field__password__wrapper {
    display: flex;
}

.password-visibility {
    cursor: pointer;
    margin-left: auto;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: var(--font-error);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.error-dot::before {
    margin-left: -11px;
    content: "*";
    color: #ff4d4f;
    text-align: right;
    font-family: var(--font-error);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.001px;
}

@media only screen and (min-width: 768px) {
    .password-field__item {
        width: 426px;
        padding-left: 23px;
    }

    .password-field__item input {
        width: 380px;
    }
}

@media only screen and (min-width: 1200px) {
    .password-field__item {
        width: 588px;
    }

    .password-field__item input {
        width: 542px;
    }
}