.footer-address__block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-logo {
    width: 208px;
    height: 30px;
    padding-top: 25px;
    padding-bottom: 35px;
}

.footer-address__error {
    display: flex;
}

.footer-address__text {
    display: flex;
    flex-direction: row;
}

.footer-address__company,
.footer-address__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.footer-address__contacts {
    padding-left: 10px;
}

.footer-phone__svg,
.footer-mail__svg {
    width: 24px;
    height: 24px;
}

.footer-address__contacts-mail,
.footer-address__contacts-phone {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-address__text,
.footer-address__text-contacts {
    color: var(--footer-font-color);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1%;
    gap: 10px;
}

@media only screen and (min-width: 768px) {

    .footer-address__block {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        width: 560px;
    }
}

@media only screen and (min-width: 1512px) {

    .footer-address__block {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        width: 241px;
    }
    .footer-address__text {
        display: flex;
        flex-direction: column;
    }
}
