.policy-content {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.policy-divider {
    width: auto;
    height: 1px;
    background: #E2E5EB;
}

.policy-content-links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.policy-content__main {
    display: flex;
    flex-direction: column;
}

.policy-content-links__text,
.policy-content__copyright {
    color: var(--footer-links-font-color);
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
    white-space: nowrap;
}

@media (min-width: 375px) {
    .policy-divider {
        width: auto;
        height: 1px;
        background: #E2E5EB;
    }

    .policy-content-links {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .policy-content__main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .policy-divider {
        width: auto;
        height: 1px;
        background: none;
    }

    .policy-content-links {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .policy-content__main {
        display: flex;
        flex-direction: column;
    }
}
