.scroll-to-top-button {
  position: fixed;
  bottom: 30px;
  left: 90%;
  width: 40px;
  height: 40px;
  background-color: var(--main-button-color);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button:hover {
  background-color: var(--main-button-color);
}
