header {
    display: flex;
    padding: 8px 104px;
    align-items: center;
    justify-content: space-between;
}

.header-logo-text {
    color: #292E32;
    font-feature-settings: 'calt' off;
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.header-right-part {
    display: flex;
    gap: 24px;
}