.contact_container {
    display: flex;
    margin: 80px 100px 80px 100px;
    width: 100%;
    max-height: auto;
    background-color: var(--light-text-color);
    scroll-behavior: smooth;
    color: var(--main-text-color);
}

.contact__title {
    font-family: var(--font-main);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
}

.contact__form_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    position: relative;
}

.contact__link_container {
    margin-right: 100px;
    max-width: 234px;
    max-height: 1400px;
}

.contact__label {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
}

.link {
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.link_text {
    color: var(--main-footer-background);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.link_text__active {
    width: 234px;
    color: var(--main-header-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.link_text:hover {
    color: var(--main-header-color);
}

.contact__img1 {
    width: auto;
    height: 266px;
    margin-left: -100px;
    margin-top: 332px;
}

.contact__text_container {
    display: flex;
    flex-direction: column;
    max-width: 971px;
}

.text_content {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text_content__margin_bottom {
    margin-bottom: 24px;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text_content__heading {
    margin-top: 24px;
}

.custom-list {
    margin: 0px;
    padding-left: 16px;
}

.custom-list__item {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.contact__input,
.contact__textarea,
.contact__select {
    width: 400px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    min-height: 40px;
    max-height: 60px;
    resize: none;
}

.contact__textarea {
    resize: vertical;
    min-height: 120px;
}

.contact__input:focus,
.contact__textarea:focus,
.contact__select:focus {
    border-color: #1e90ff;
}

.contact__select.placeholder {
    color: gray;
}

.contact__button_send {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F9A7C;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color: white;
    font-feature-settings: 'calt' off;
    font-style: normal;
    border-radius: 4px;
    border: 1px;
    gap: 10px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 32px;
}

.contact__button_send:hover {
    background-color: #218838;
}

.contact__button_cancel {
    display: flex;
    background-color: #e74c3c;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    color: white;
    font-feature-settings: 'calt' off;
    font-style: normal;
    border-radius: 4px;
    border: 1px;
    gap: 10px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 32px;

}

.contact__button_cancel:hover {
    background-color: #c82333;
}

.contact__error {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    color: var(--red-red-100, #f34444);
    font-family: var(--font-messages);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.modal_feedback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Напівпрозорий сірий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_feedback_content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Легка тінь */
    width: 400px; /* Ширина модального вікна */
    text-align: center;
    border: 1px solid #ddd; /* Рамка */
}

.modal_feedback_content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact__button_container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 20px;
}

.contact__button_modal_container {
    display: flex;
    gap: 10px;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically if needed */
    margin-top: 20px;
}