.contact_container {
    background-color: #f9f5ec;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 375px;
    height: 659px;
    gap: var(--margintop-bottom2);
    opacity: 0px;
    display: flex;
    align-items: center;

}




.contact__text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 375px;
    height: 499px;
    background-color: #FFFFFF;
    min-width: 345px;
    max-width: 572px;
    gap: 24px;
}


.contact__form {
  width: 327px;
  height: 317px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  opacity: 0px;

}




.contact__title {
    width: 327px;
    height: 52px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 36px;
    opacity: 0px;
    box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.contact__info{
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    width: 327px;
    line-height: 20px;
    letter: -1%;
    padding: 0px 24px;
}

.contact__button_container {
    width: 327px;
    height: 60px;
    padding: 10px 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    opacity: 0px;
    box-shadow: 0px 1px 0px 0px #F0F0F0 inset;
}



.text_content {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 375;
    line-height: 22px;
}

.contact__field {
    width: 327px;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    opacity: 0px;
    padding: 0px 24px;
}

.contact__field_textarea {
    width: 327px;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    opacity: 0px;
    padding: 0px 24px;

}

.contact__label {
    width: 327px;
    height: 22px;
    gap: 4px;
    opacity: 0px;
    angle: 0 deg;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



.contact__input {
    width: 309px;
    height: 41px;
    padding: 9px 6px 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D9D9D9
}

.contact__select {
    width: 309px;
    height: 41px;
    padding: 9px 6px 8px 12px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D9D9D9
}

.contact__textarea {
    width: 309px;
    height: 86px;
    gap: 0px;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #D9D9D9;
    padding: 9px 6px 8px 12px;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
    color: #adb3b9;
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.contact__input:focus,
.contact__textarea:focus,
.contact__select:focus {
    border: 1px solid var(--border-color);
}



.contact__button_send {
    width: 114px;
    height: 40px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 9px 16px 9px 16px;
    border-radius: 4px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.contact__error {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    color: var(--red-red-100, #f34444);
    font-family: var(--font-messages);
    font-size: 12px;
    line-height: 16px;
}

.modal_feedback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Центрує модальне вікно по горизонталі */
    align-items: center; /* Центрує модальне вікно по вертикалі */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
    margin: 0 auto; /* Центрує по горизонталі */
}

.modal_feedback_content {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    width: 100%; /* На мобільних пристроях модалка буде шириною 100% */
    max-width: 400px; /* Максимальна ширина для великих екранів */
    padding: 20px;
    text-align: center;
}


.modal_feedback_content {
    margin: 0; /* Уникає зовнішніх відступів */
}

.modal_feedback_close {
    position: absolute; /* Абсолютне позиціонування кнопки */
    top: 16px; /* Відступ зверху */
    right: 16px; /* Відступ справа */
    background: transparent; /* Прозорий фон кнопки */
    border: none; /* Без обрамлення */
    cursor: pointer; /* Змінюємо курсор */
}

.contact__button_modal_container {
    display: flex;
    justify-content: left;
    margin-top: 20px; /* Простір над кнопками */
}


.modal_feedback__title {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 12px 0;
    border-bottom: solid 1px #e8e5e5;
}

.modal_feedback__info {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 12px 0;
    border-bottom: solid 1px #e8e5e5;
}

.modal_feedback_close img {
    width: 16px;
    height: 16px;
}

.contact__red__star {
    color: red;
}

