.contact_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64vh;
    width: 100%;
    background-color: #F9F5EC;
}

.contact__text_container {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 8px;
    max-width: 572px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.contact__form {
  width: 572px;
  padding: 0px;
  gap: 10px;
}

.contact__title {
    font-weight: bold;
    width: 572px;
    gap: 36px;
    border-bottom: solid 1px #e8e5e5;
    padding: 0px 0px 10px 0px;
}

.contact__info{
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    width: 572px;
    line-height: 20px;
    padding: 10px 0px 0px 0px;
}

.contact__button_container {
    width: 572px;
    padding: 24px 0px 0px 0px;
    gap: 8px;
    opacity: 0px;
    min-width: 116px;
}

.text_content {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.contact__field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.contact__label {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
    padding-top: 24px;
}

.contact__input {
    padding: 4px 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    transition: border-color 0.3s ease;
    height: 22px;
    resize: none;
    outline: none;
}

.contact__select {
    width: 400px;
    padding: 0px;
    gap: 0px;
}

.contact__textarea,
.contact__select {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    transition: border-color 0.3s ease;
}

.contact__textarea {
    resize: vertical;
    min-height: 60px;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
    color: #adb3b9;
    font-family: var(--font-main);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.contact__input:focus,
.contact__textarea:focus,
.contact__select:focus {
    border: 1px solid var(--border-color);
}

.contact__button_send {
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 116px;
}

.contact__error {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    color: var(--red-red-100, #f34444);
    font-family: var(--font-messages);
    font-size: 12px;
    line-height: 16px;
}

.modal_feedback {
    position: fixed;
    bottom: 173px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal_feedback_content {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 612px;
    text-align: left;
    position: relative;
}

.contact__button_modal_container {
    display: flex;
    justify-content: left;
    margin-top: 20px; /* Простір над кнопками */
}

.modal_feedback_close {
    position: absolute;
    top: 16px; /* Відступ зверху */
    right: 16px; /* Відступ справа */
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal_feedback__title {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 12px 0;
    border-bottom: solid 1px #e8e5e5;
    padding: 0px 0px 14px 0px;
}

.modal_feedback__info {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: 12px 0;
    border-bottom: solid 1px #e8e5e5;
    padding: 10px 0px 24px 0px;
}

.modal_feedback_close img {
    width: 16px;
    height: 16px;
}

.contact__red__star {
    color: red;
}