:root {
    --font__admin-panel: "Inter", sans-serif;
    --block-size__admin-panel: 1512px;
    --menu-size__admin-panel: 222px;
    --table-size__admin-panel: 1000px;
    --font-color__admin-panel: #292E32;
    --notification-text-color__admin-panel: #ff4d4f;
    --background__admin-panel: #F1FFF7;
    --background-input__admin-panel: #FFF;
    --border-input__admin-panel: #d9d9d9;
    --background-butons__admin-panel: #1F9A7C;
    --button-color__admin-panel: #1F9A7C;
    --button-text-color__admin-panel: #FFF;
    --error-notification-text-color__admin-panel: #f4282b;
    --box-shadow-color__admin-panel: rgba(0, 0, 0, 0.04);
}
