:root {
    --font__admin-panel: "Inter", sans-serif;
    --block-size__admin-panel: 1500px;
    --menu-size__admin-panel: 222px;
    --table-size__admin-panel: 1000px;
    --font-color__admin-panel: #292E32;
    --background__admin-panel: #F1FFF7;
    --background-butons__admin-panel: #0B6C61;
    --button-color__admin-panel: #0B6C61;
}
