.product-card {
    display: flex;
    align-items: center;
    gap: -69px;
    box-shadow: 0 4px 8px 0 rgba(65, 64, 69, 0.20);
    border-radius: 11px;
    transition: transform 0.2s ease;
    position: relative;
}
.product-card:hover {
    transform: scale(1.1);
}
.product-card__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-card__image-frame {
    width: 360px;
    height: 220px;
}
.product-card__image {
    width: 360px;
    height: 290px;
    flex-shrink: 0;
    border-radius: 11px;
    object-fit: cover;
}
.product-card__text-block {
    display: flex;
    padding: 20px 16.02px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 0 0 12px 12px;
    background: #FFF;
}
.product-card__text-block__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.product-card__category-text {
    color: #767F86;
    text-align: center;
    font-family: Inter, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}
.product-card__name-text {
    width: 328px;
    height: 48px;
    color: #292E32;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    text-transform: uppercase;
}
.product-card__address-text {
    width: 328px;
    color: #59636A;
    font-feature-settings: 'calt' off;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.14px;
}
.product-card__badges-block {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
.product-card__badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
}
.product-card__badge {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #1F9A7C;
}
.product-card__badge-text {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'calt' off;
    font-family: Inter, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 160% */
    text-transform: uppercase;
}
.product-card__logo {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 16px;
    bottom: 159.5px;

}
.product-card__logo-ellipse {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 9999px;
    box-shadow: 0 0 2px rgba(65, 64, 69, 0.20);
}
.product-card__logo-image {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 26px;
    background: #fff;
    left: 5px;
    top: 5px;
    position: absolute;
}
