.main-baner__container {
    display: flex;
    justify-content: center;
    background-color: #B4D27A;
    width: 100vw;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1512px;
    padding: 32px 104px 32px 104px;
    box-sizing: border-box;
}

.main-baner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: Geologica;
    font-weight: 900;
    line-height: 57.6px;
    letter-spacing: 0.01em;
}

.main-baner-text__logo {
    margin-bottom: 10px;
    font-size: 48px;
}

.main-banner-link__container {
    display: flex;
    box-sizing: border-box;
    max-width: 194px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 9px 16px;
    margin-top: 30px;
    background: var(--main-button-color);
}

.main-banner-link__container:hover {
    background: var(--main-button-hover-color);
}

.main-baner-text__explanation {
    font-size: 40px;
    max-width: 557px;
}

.main-banner-link {
    font-family: Geologica;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.main-banner__img {
    max-width: 100vw;
    height: auto;
}

@media (min-width: 768px) and (max-width: 1511px) {
    .main-container {
        flex-direction: column-reverse;
        max-width: 768px;

    }

    .main-baner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;

    }

    .main-baner-text__explanation {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 714px;
        text-align: center;
        font-size: 30px;
    }

    .main-banner__img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .main-baner__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px;

    }

    .main-container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        background-color: #B4D27A;
        max-width: 375px;
        padding: 16px 32px 16px 32px;
    }

    .main-baner-text__logo {
        font-size: 34px;
    }

    .main-baner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 343px;
        padding-top: 5vh;
        text-align: center;
        margin: 0px;
    }

    .main-baner-text__explanation {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 343px;
        font-size: 20px;
        font-family: Geologica;
        font-weight: 700;
        line-height: 28.8px;
        letter-spacing: 0.01em;
    }

    .main-banner__img {
        max-width: 314px;
    }
}
