.footer-main {
    width: auto;
    background: var(--footer-backround);
    background-size: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 375px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 10px;

    }
}

@media (min-width: 768px) {
    .footer-content {
        display: flex;
        flex-direction: row;
        padding: 24px 104px;
        gap: 2%;
    }
}
