.footer-main {
    display: flex;
    width: 100vw;
    background: var(--footer-backround);
    background-size: cover;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    min-width: 343px;
    max-width: 572px;
    gap: 35px;
}

@media only screen and (min-width: 768px) {
    .footer-main {
        display: flex;
        justify-content: space-around;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        min-width: 580px;
        max-width: 720px;
    }
}

@media only screen and (min-width: 1512px) {
    .footer-content {
        display: flex;
        flex-direction: row;
        padding-top: 24px;
        max-width: 1300px;
    }

    .footer-main {
        display: flex;
        justify-content: space-around;
    }
}
