/* Основний контейнер */
.about-us-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  /* padding: 40px 16px; */
  margin: auto;
  background-color: #f9f4ea;
}

/* Заголовок */
.about-us-text-section__header-text {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #333;
  margin-bottom: 40px;
}

/* Стиль для карток */
.about-us-text-section__card {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  width: 100%;
  max-width: 302px;
  height: 102px;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Іконка */
.about-us-text-section__icon {
  width: 36px;
  height: 36px;
  margin-left: 18px;
}

/* Текст */
.about-us-text-section__card p {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 600;
  color: #232424;
  margin: 0;
}

/* Адаптивність для планшетів */
@media only screen and (min-width: 768px) {
  .about-us-text-section {
    max-width: 768px;
  }

  .about-us-text-section__header-text {
    font-size: 32px;
    line-height: 36px;
  }

  .about-us-text-section__card {
    max-width: 364px;
    height: 128px;
  }
}

/* Адаптивність для десктопів */
@media only screen and (min-width: 1200px) {
  .about-us-text-section {
    max-width: 1304px;
  }
}
