.privacy_policy {
    display: flex;
    padding: 40px 16px;
    background-color: var(--light-text-color);
    scroll-behavior: smooth;
    color: var(--main-text-color);
}
  
.privacy_policy__title {
    font-family: var(--font-main);
    font-size: 18px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 5px;
}

.privacy_policy__text_container{
    display: flex;
    flex-direction: column;
    max-width: 971px;
}

@media only screen and (min-width: 768px) {
    .privacy_policy {
        padding: 48px 24px;
    }

    .privacy_policy__title {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1200px) {
    .privacy_policy {
        padding: 80px 214px;
    }
}