.data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.data {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    border-radius: 2px;
    border: 1px solid var(--main-grey-05, #F8F8F8);
    background: var(--main-grey-05, #F8F8F8);
}

.data-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.data-block__field {
    display: flex;
    height: 32px;
    align-items: center;
    gap: 8px;
}

.data-block__field--title {
    width: 130px;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.edrpou {
    font-weight: 600;
}

.data-block__field--value {
    width: 200px;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.data-block__field--site {
    width: 200px;
    color: var(--system-blue-100, #4A73E2);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.data-block__field--address,
.data-block__field--social-networks {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.data-block__field--address--value,
.data-block__field--cooperate--value {
    width: 200px;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.14px;
}