.delete__description {
    text-align: left;
    color: var(--main-text-color);
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin: 14px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.buttons__section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    border-top: 1px #E2E5EB solid;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
}

.button__cancel {
    display: flex;
    padding: 9px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--light-button-color);
    border: 1px solid var(--light-button-border-color);
    cursor: pointer;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--light-button-text-color);
}

.button__cancel:hover {
    background: var(--light-button-hover-color);
}

.button__delete {
    display: flex;
    padding: 10px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--warn-button-color);
    color: var(--warn-button-text-color);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
    cursor: pointer;
}

.button__delete:hover {
    background: var(--warn-button-hover-color);
}

.delete-header {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-shadow: 0px -1px 0px 0px #F0F0F0 inset;
    color: var(--character-title-85, rgba(0, 0, 0, 0.85));
    font-feature-settings: 'calt' off;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
}

.form__body {
    margin: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fields__label--text {
    display: flex;
    padding-bottom: 6px;
    align-items: center;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.fields__field {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    border: 1px solid #D9D9D9;
}

.fields__field--input {
    display: flex;
    height: 30px;
    padding: 5px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 2px;
    border: none;
    background: var(--main-white, #FFF);
}

.fields__field:focus-within {
    border-radius: 2px;
    border: 1px solid #1f9a7c;
    background: #fff;
    outline: none;
}

.password-visible-field {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    border: 1px solid #B4D27A;
}

.password-visibility-button {
    width: 25px;
    cursor: pointer;
}

.fields__field--input:focus-visible {
    outline: none;
}


.delete__cancelButton {
    cursor: pointer;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: var(--font-error);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
