.button__delete-main {
   padding: 10px;
}

.button__delete {
    border-radius: 4px;
    background: var(--main-button-color);
    color: var(--main-white);
    padding: 10px 15px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}
