.button__delete-main {
    padding: 10px;
}

.button__delete {
    border-radius: 4px;
    background: var(--main-button-color);
    color: var(--main-button-text-color);
    padding: 10px 15px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.button__delete:hover {
    background: var(--main-button-hover-color);
}

.button__delete-head {
    display: none;
}

@media only screen and (min-width: 768px) {
    .button__delete-container {
        display: flex;
        flex-direction: column;
        background-color: var(--main-white);
        width: 474px;
        height: 112px;
        border-radius: 6px;
    }

    .button__delete-head {
        font-family: var(--font-main);
        font-size: 16px;
        font-weight: 600;
        height: 52px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 24px;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: var(--light-seashell-background);
    }

    .button__delete {
        margin-left: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .button__delete-container {
        width: 636px;
        margin-left: 180px;
    }
}
