.main-app {
  width: var(--main-block-size);
  border-radius: 8px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
}

.main-app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}