.main_block_outer {
  padding-top: 10px;
}

.new-companies-main__error {
  background-color: rgba(249, 245, 236, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 288px;
  margin-top: 3%;
  text-align: center;

}

.main_block {
  position: relative;
}

.new-companies-search_count {
  display: flex;
  margin: auto;
  padding-left: 10%;
}

.search_field_entered_value {
  color: #707070;
  font: var(--font-main);
  font-weight: 300;
  font-size: 18px ;
}

.search_results_text {
  font: normal normal bold 20px/2 var(--font-main);
  font-size: 18px;
  font-weight: 700;
  color: #232424;
}

.search_result_error {
  width: 100%;
  max-width: 80%;
  color: var(--search-text-color);
  font: normal normal bold 29px/2 var(--font-main);
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  /* border: none; */
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: transparent;
  color: var(--search-pagination-style-color);
  border: 1px solid var(--search-pagination-style-color);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}



@media only screen and (min-width: 1512px){
    .search_results_text {
      font-size: 41px;
    }
    .search_field_entered_value {
      font-size: 41px;
    }

    .search_result_error {
      font: normal normal bold 48px/2 var(--font-main);
    }
}

@media only screen and (min-width: 768px){
    .search_results_text {
      font-size: 34px;
    }
    .search_field_entered_value {
      font-size: 34px;
    }
    .search_result_error {
          font: normal normal bold 48px/2 var(--font-main);
        }
}
