.representative {
    display: flex;
    min-height: 102px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.representative__label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.representative__label--required {
    color: var(--dust-red-5, #FF4D4F);
    text-align: right;
    font-family: SimSong;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.001px;
}

.representative__label--text {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.fields__field--notrequired {
    padding-top: 2px;
}

.representative__checkboxes {
    flex-direction: row;
    display: flex;
    padding: 0px 11px;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 8px;
}

.representative__checkboxes--company-type {
    display: flex;
    width: 246px;
    align-items: flex-start;
    gap: 273px;
}

.form-control {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    text-align: start;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.14px;
}

.checkbox__input {
    justify-content: flex-start;
    accent-color: #1F9A7C;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}