.fields__column {
    display: flex;
    width: 257px;
    height: 84px;
    padding-bottom: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.fields__label {
    display: flex;
    padding-bottom: 9px;
    align-items: center;
    gap: 4px;
}

.fields__label--required {
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF4D4F;
}

.fields__label--text {
    flex: 1 0 0;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-style: normal;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.fields__field--notrequired {
    padding-top: 2px;
}

.fields__field {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    border: 1px solid #D9D9D9;
}

.fields__field--input {
    display: flex;
    height: 22px;
    padding: 4px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 2px;
    border: none;
    background: var(--main-white, #FFF);
}

.fields__field--input::placeholder {
    font-style: normal;
    font-family: var(--font-main);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #00000040;
}

.fields__field--input:focus {
    border-radius: 2px;
    border: 1px solid #1f9a7c;
    background: #fff;
    outline: none;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: var(--font-error);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.disabled__field {
    font-family: var(--font-messages);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000040;
    background: linear-gradient(0deg, #F5F5F5, #F5F5F5),
        linear-gradient(0deg, #D9D9D9, #D9D9D9);
}