.fields__column {
    display: flex;
    width: 530px;
    padding-bottom: 5px;
    flex-direction: column;
}

.fields__label {
    display: flex;
    padding-bottom: 9px;
    align-items: center;
    gap: 4px;
}

.fields__label--required {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF4D4F;
}

.fields__label--text {
    flex: 1 0 0;
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #292E32;
}

.fields__field--notrequired {
    padding-top: 2px;
}

.fields__field {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    border: 1px solid #D9D9D9;
}

.fields__field--textarea {
    display: flex;
    height: 22px;
    padding: 5px 12px;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 2px;
    background: var(--main-white, #FFF);
    width: 530px;
    height: 98px;
    border: 1px solid #DEE1E8;
}

.fields__field--textarea::placeholder {
    font-style: normal;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #00000040;
}

.error-message {
    display: flex;
    padding: 1px 0px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    flex: 1 0 0;
    color: var(--red-red-100, #F34444);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.count__symbols {
    display: flex;
    justify-content: flex-end;   
    height: 22px;
    top: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #A3AAB0;
}