.pageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-top: 0;
  transition: margin-top 0.3s ease;
  box-sizing: border-box;
}

.pageContent.menuOpen {
  margin-top: 180px;
}

.pageContent > * {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
