.ErrorPage404__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  min-height: calc(100vh - 342px );
  background: var(--join-us-main-color, #B4D27A);
  flex-grow: 1;
}

.ErrorPage404__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  font-family: var(--font-main);
  max-width: 343px;
  padding: 40px 10px;
}

.ErrorPage404__text404 {
  font-size: 84px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.84px;
  color: var(--main-grey-90, #25292c);
  margin: 0;
}

.ErrorPage404__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.ErrorPage404__explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.ErrorPage404__main-text {
  font-size: 32px;
  font-weight: 700;
  color: var(--main-grey-90, #25292c);
  margin: 0;
  line-height: 1.2;
}

.ErrorPage404__details {
  font-size: 14px;
  color: var(--main-grey-90, #25292c);
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

.ErrorPage404__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 40px;
  max-width: 206px;
  font-weight: 500;
}

.ErrorPage404__button-text {
  color: #FFFFFF;
  text-decoration: none;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
}

@media only screen and (min-width: 768px) {
  .ErrorPage404__page {
    height: 598px;
  }

  .ErrorPage404__container {
    max-width: 558px;
    gap: 20px;;
  }

  .ErrorPage404__text404 {
    font-size: 200px;
  }

  .ErrorPage404__main-text {
    font-size: 48px;
  }

  .ErrorPage404__details {
    font-size: 16px;
  }

  .ErrorPage404__button {
    max-width: 231px;
    padding: 10px 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .ErrorPage404__page {
    height: 418px;
  }

  .ErrorPage404__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    gap: 50px;
    text-align: start;
  }

  .ErrorPage404__text404 {
    font-size: 200px;
    line-height: 1;
    margin-right: 80px;
  }

  .ErrorPage404__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 178px;
    max-width: 500px;
  }

  .ErrorPage404__explanation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ErrorPage404__main-text {
    font-size: 48px;
    line-height: 1.2;
  }

  .ErrorPage404__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  }

  .ErrorPage404__button {
    max-width: 231px;
  }
}