.cookies-section {
    width: 1512px;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 1.42857;
    letter-spacing: -0.14px;
}

.divider {
    width: 1512px;
    height: 1px;
    background: #E2E5EB;
}
