.reset-password {
  width: 1512px;
  border-radius: 8px;
  background: var(--wf-base-white, #fff);
}

.reset-password__body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 725px;
  background: var(--primary-green-20, #f1fff7);
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  z-index: 2;
}

.sign-in-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.sign-in-line__text {
  color: #000;
  font-feature-settings: "calt" off;

  /* Text/Body/14-Regular */
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}

.sign-in-line__link {
  color: var(--accent-accelerate-1500, #00a3cf);
  font-feature-settings: "calt" off;

  /* Text/Body/14-Regular */
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}
