.rememberme-checkbox {
  display: flex;
  width: 400px;
  align-items: flex-start;
  gap: 273px;
}

.rememberme-checkbox label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #292e32;
  font-feature-settings: "calt" off;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  display: grid;
  place-content: center;
  border-radius: 2px;
  border: 1px solid var(--main-black-20, #e2e5eb);
  cursor: pointer;

}

input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #1f9a7c;
}

input[type="checkbox"]::before{
  content: "";
  width: 16px;
  height: 16px;
}

input[type="checkbox"]:checked {
  background: var(--primary-green-80, #1f9a7c);
  border-radius: 2px;
  border: 1px solid var(--primary-green-80, #1f9a7c);
}

input[type="checkbox"]:checked::before{
  transform: scale(1);
  content: "\2713";
  font-size: 17px;
  text-align: center;
  position: relative;
  bottom: 3px;
  color: #f0f0f0;
}