@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('/public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 100 900;
  src: local('Geologica-VariableFont'), local('Geologica-VariableFont'),
    url('/public/fonts/Geologica-VariableFont.ttf') format('truetype');
}

:root {

  --main-block-size: 100vw;

  /*border color*/
  --border-color: #EEEFF1;
  --grey-border-color: #AAAAAA;

  /* background color*/
  --main-header-color: #1F9A7C;
  --main-footer-background: #3C4044;
  --new-members-section-background: #F1FFF7;
  --why-should-section-background: #F0F1F3;
  --copyright-info-background: #333333;
  --about-us-main-background: #F9F5EC;
  --star-background: #FFD800;
  --hint-background: #25292C;
  --light-seashell-background: #F9F5EC;

  /* text color*/
  --main-text-color: #292E32;
  --header-bunner-text-color: #000000;
  --light-text-color: #FFFFFF;
  --delete-text-color: #F15831;
  --notification-text-color: #F34444;
  --footer-dark-text-color: #A0ABC0;
  --link-text-color: #000000;
  --error-text-color: #F15831;
  --hint-text-color: #25292C;
  --placeholder-text-color: #ADB3B9;
  --edit-page-head-color: #000000D9;
  --input-text-color: #000000D9;
  --secondary-button-text-color: #232424;



  /* button color*/
  --main-button-color: #000000;
  --main-button-text-color: #FFFFFF;
  --main-button-hover-color: #292929;
  --main-button-disabled-color: #E5E5E5;
  --main-button-disabled-text-color: #A1A1A1;
  --main-button-border-color: #000000;
  --main-button-hover-border-color: #333333;

  --light-button-color: transparent;
  --light-button-hover-color: #F1E7D280;
  --light-button-text-color: #232424;
  --light-button-border-color: #232424;

  --warn-button-color: #E14E29;
  --warn-button-text-color: #FFFFFF;
  --warn-button-hover-color: #F15831;

  --login-button-text-color: #000000;
  --login-button-underline-color: #000000;

  --list-button-border-color: #231C09;
  --list-button-active-color: #231C09;
  --list-button-active-text-color: #FFFFFF;

  --disabled-link: #8D959C;


  /* fonts */
  --font-main: 'Geologica', sans-serif;
  --font-messages: 'Roboto', sans-serif;
  --font-error: 'Geologica', sans-serif;
  --font-logo: 'Geologica', sans-serif;

  --toastify-color-error: #FFF1F0;
  --toastify-color-success: #F1FFF7;
  --toastify-font-family: var(--font-main);
  --toastify-close-button: rgba(0, 0, 0, 0.85);
  --toastify-toast-width: 395px;
  --toastify-toast-min-height: 22px;
  --toastify-text-color-success: rgba(0, 0, 0, 0.85);
  --toastify-text-color-error: rgba(0, 0, 0, 0.85);
  --toastify-custom-error: #FFCCC7;
  --toastify-custom-success: #1F9A7C;
  --toastify-custom-close-button: rgba(0, 0, 0, 0.85);

  /* Header */
  --navbar-content-height: 40px;

  /* Footer */
  --footer-backround: #232424;
  --footer-font-color: #FFF;
  --footer-links-font-color: #FFF;
  --footer-bottom-backround: #333;
  --footer-policy-links-font-color: #959595;
  --footer-scroll-button: #B4D27A;

  /* main pages About block*/
  --about-text-font-color: #292E32;
  --about-text-background-color: #FFF;
  --about-us-font-color: #25292C;
  --about-us-header-color: #232424;
  --about-us-background-color: #F9F5EC;
  --about-cards-font-color: #292E32;
  --about-cards-background-color: #F0F1F3;
  --about-cards-background-content-color: #FFF;
  /* main pages Banner block*/
  --banner-main-font-color: #000;
  --banner-main-dark-color: #1F9A7C;
  /* main pages JoinUs block*/
  --join-us-button-color: black;
  --join-us-main-color: #B4D27A;
  --join-us-font-color: black;
  /* CompanyCard */
  --companies-card-text-color: #232424;
  --companies-card-box-shadow: rgba(65, 64, 69, 0.2);
  --companies-card-regions-text: #707070;
  --companies-card-address: #000000;
  --companies-card-button: green;
  --companies-card-badge-is-updated: #B4D27A;
  --companies-card-badge-text-color: #231C09;
  --search-new-companies-main: #f1fff7;
  --search-text-color: #292e32;
  --search-pagination-style-color: #1f9a7c;

  /* Profile Detail */
  --profile-detail-width: 100vw;
  --profile-detail-title-background: #F9F5EC;
  --profile-detail-title-color-activity: #707070;
  --profile-detail-title-color-company-name: #232424;
  --profile-detail-title-color-company-region: #000000;
  --profile-detail-data-contacts-backround: #F9F5EC;
  --profile-detail-data-contacts-color-text: #292E32;
  --profile-detail-info-color-text: #000;
  --profile-detail-info-color-title: #232424;

  --main-grey-90: #25292c;
  --main-white: #FFF;
  --main-black-90: #292e32;
  --primary-green-80: #1f9a7c;
  --character-title-85: rgba(0, 0, 0, 0.85);

  /*Login Page*/
  --min-height-login-page: calc(100vh - 528px);
  --wf-base-white: #FFF;

  --profile-min-height-block: calc(100vh - 565px);
  --company-card-color: #F9F5EC;
  --company-card-color-hover: #EDE0C5;
  --new-companies-background-color: #FFFFFF;
  --min-height-block-main: 100vh;

  /* Cookies */
  --cookie-black-color: #000000;
  --cookie-light-color: #FFFFFF;
  --cookie-dark-color: #10182F;
  --cookie-border-color: #e9e9e9;
  --cookie-overlay-color: rgba(0, 0, 0, 0.5);
  --cookie-shadow-color: rgba(0, 0, 0, 0.15);

  /* Tooltip profile page */
  --tooltip-bg-color: #f0f0f0;
  --tooltip-border-radius: 50%;
  --tooltip-font-color: #292E32; 
}
