@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('/public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: local('Geologica-VariableFont'), local('Geologica-VariableFont'),
    url('/public/fonts/Geologica-VariableFont.ttf') format('truetype');
}

:root {

  --main-block-size: 1512px;

  /* background color*/
  --main-header-color: #1F9A7C;
  --main-footer-background: #3C4044;
  --new-members-section-background: #F1FFF7;
  --why-should-section-background: #F0F1F3;
  --copyright-info-background: #333333;
  --about-as-main-background: #0B6C61;
  --star-background: #FFD800;
  --hint-background: #25292C;
  --light-seashell-background: #F9F5EC;

  /* text color*/
  --main-text-color: #292E32;
  --header-bunner-text-color: #000000;
  --light-text-color: #FFFFFF;
  --light-button-text-color: #FFFFFF;
  --delete-text-color: #F15831;
  --notification-text-color: #F34444;
  --footer-dark-text-color: #A0ABC0;
  --link-text-color: #000000;
  --error-text-color: #F15831;

  /* button color*/
  --main-button-color: #1F9A7C;
  --button-color-hover: #0b6c61;
  --light-button-color: #FFFFFF;

  /* fonts */
  --font-main: 'Geologica', sans-serif;
  --font-messages: 'Roboto', sans-serif;
  --font-error: 'Roboto', sans-serif;
  --font-logo: 'Geologica', sans-serif;

  --toastify-color-error: #FFF1F0;
  --toastify-color-success: #F1FFF7;
  --toastify-font-family: var(--font-main);
  --toastify-close-button: rgba(0, 0, 0, 0.85);
  --toastify-toast-width: 395px;
  --toastify-toast-min-height: 22px;
  --toastify-text-color-success: rgba(0, 0, 0, 0.85);
  --toastify-text-color-error: rgba(0, 0, 0, 0.85);
  --toastify-custom-error: #FFCCC7;
  --toastify-custom-success: #1F9A7C;
  --toastify-custom-close-button: rgba(0, 0, 0, 0.85);

  /* Header */
  --navbar-content-height: 32px;

  /* Footer */
  --footer-backround: #3C4044;
  --footer-font-color: #FFF;
  --footer-links-font-color: #A0ABC0;
  --footer-bottom-backround: #333;
  /* main pages About block*/
  --about-text-font-color: #292E32;
  --about-text-background-color: #FFF;
  --about-as-font-color: #FFF;
  --about-as-background-color: #0B6C61;
  --about-cards-font-color: #292E32;
  --about-cards-background-color: #F0F1F3;
  --about-cards-background-content-color: #FFF;
  /* main pages Banner block*/
  --banner-main-font-color: #000;
  --banner-main-dark-color: #1F9A7C;
  /* main pages JoinUs block*/
  --join-us-batton-color: black;
  --join-us-main-color: #B4D27A;
  --join-us-font-color: black;
  --join-us-batton-text-color: white;
  /* CompanyCard */
  --companies-card-text-color: #292e32;
  --companies-card-box-shadow: rgba(65, 64, 69, 0.2);
  --companies-card-lover-text: #767f86;
  --companies-card-address: #59636a;
  --companies-card-button: green;

  --search-new-companies-main: #f1fff7;
  --search-text-color: #292e32;
  --search-pagination-style-color: #1f9a7c;

  /* Profile Detail */
  --main-grey-90: #25292c;
  --main-white: #FFF;
  --main-black-90: #292e32;
  --primary-green-80: #1f9a7c;
  --character-title-85: rgba(0, 0, 0, 0.85);

  --wf-base-white: #FFF;

  --profile-min-height-block: calc(100vh - 565px);
  --min-height-block-main: calc(100vh - 305px);
  --company-card-color: #F9F5EC;
  --new-companies-background-color: #FFFFFF;
}
