@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter Regular'), local('Inter-Regular'),
    url('/public/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: local('Geologica-VariableFont'), local('Geologica-VariableFont'),
    url('/public/fonts/Geologica-VariableFont.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  display: flex;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;

  --main-block-size: 1512px;

  /* background color*/
  --main-header-color: #1F9A7C;
  --main-footer-background: #3C4044;
  --new-members-section-background: #F1FFF7;
  --why-should-section-background: #F0F1F3;
  --copyright-info-background: #333333;
  --about-as-main-background: #0B6C61;
  --star-background: #FFD800;
  --hint-background: #25292C;

  /* text color*/
  --main-text-color: #292E32;
  --header-bunner-text-color: #000000;
  --light-text-color: #FFFFFF;
  --light-button-text-color: #FFFFFF;
  --delete-text-color: #F15831;
  --notification-text-color: #F34444;
  --footer-dark-text-color: #A0ABC0;

  /* button color*/
  --main-button-color: #1F9A7C;
  --light-button-color: #FFFFFF;

  /* fonts */
  --font-main: 'Inter', sans-serif;
  --font-messages: 'Roboto', sans-serif;
  --font-error: 'Roboto', sans-serif;
  --font-logo: 'Geologica', sans-serif;

  --toastify-color-error: var(--Dust-Red-1, #FFF1F0);
  --toastify-color-success: #F1FFF7;
  --toastify-font-family: "Inter", sans-serif;
  --toastify-toast-width: 395px;
  --toastify-toast-min-height: 22px;
  --toastify-text-color-success: var(--character-title-85, rgba(0, 0, 0, 0.85));
  --toastify-text-color-error: var(--character-title-85, rgba(0, 0, 0, 0.85));
}

a {
  text-decoration: none;
}