.menu-section {
    display: flex;
    width: var(--menu-size__admin-panel);
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}

.menu-section-element {
    color: var(--main-grey-100, #000);
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font__admin-panel);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.14px;
}

.menu-section-element__active {
    font-weight: 600;
}

