.menu {
  position: absolute;
  top: 61px;
  left: -100vw;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  max-height: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  transition: max-height 0.3s ease, left 0.3s ease, padding 0.3s ease;
}

.menu.open {
  left: 0;
  max-height: 180px;
  padding: 20px;
}




