.header-buttons-section {
    display: flex;
    /*align-items: flex-start;*/
    gap: 12px;
}

.header-login__button {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

    border-radius: 4px;
    background: #FFF;

    /* Button Text */
    color: #000000;
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.header-register__button {
    display: flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

    border-radius: 4px;
    background: #000000;

    /* Button Text */
    color: #FFF;
    text-align: center;
    font-feature-settings: 'calt' off;
    text-decoration: none;
    font-family: var(--font-main);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.16px;
}

.header-login__button:hover {
    background: #000000;
    color: #FFF;
}

.header-register__button:hover {
    background: #FFF;
    color: #000000;
}
