.navbar-content {
  display: flex;
  width: 100%;
  padding: 16px 104px;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-content-height);
}

.navbar-logo__text {
  display: flex;
}

.navbar-main-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #000000;
  width: 208px;
  height: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.navbar-utility-bar {
  display: flex;
  gap: 24px;
  height: 40px;
}
