.header-profile-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dropdown-section {
  position: relative;
  display: inline-block;
}

.header-profile__avatar {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--main-black-20, #E2E5EB);
  background: var(--conditional-pop-over, #FFF);
  overflow: hidden;
}

.header-profile__avatar img {
  width: 23px;
  height: 19px;
  object-fit: cover;
}
