.header-search-box {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 40px;
  width: 225px;
  border-radius: 4px;
  border: solid 1px #aaa;
  background: #fff;
}

.header-search-form {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  position: relative;
}


.header-search-form__input {
  font-size: 16px;
  flex: 1;
  outline: none;
  border: none;
}

.header-search-form__addon {
  padding: 0;
  color: black;
  cursor: pointer;
  border: none;
}
.header-search-form__addon:hover {
  color: black;
}



.header-search-form__addon:last-child::before {
  content: "";
  position: absolute;
  right: 40px;
  top: -4px;
  bottom: -4px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}

.header-search-form__input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-feature-settings: 'calt' off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.16px;

}

textarea:focus,
.header-search-form__input:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 1200px) {
  .header-search-box {
    width: 100%;
  }
}
