.modal {
  position: absolute;
  top: 50%;
  left: 50.5%;
  float: left;
  transform: translate(-50%, -50%);
  width: 375px;
  border-radius: 8px;
  z-index: 999;
}

.blur-background {
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
}

.modal__header {
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
  background: var(--main-white, #fff);
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
}

.modal__content {
  display: flex;
  padding: 16px 24px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--main-white, #fff);
  box-shadow: 0px 1px 0px 0px #f0f0f0 inset;
}

.modal__content--text {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--main-text-color);
}

.modal__footer {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--main-white, #fff);
  box-shadow: 0px 1px 0px 0px #f0f0f0 inset;
}

.button-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.signup-page__button {
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #000000;

  color: var(--light-button-text-color);
  text-align: center;
  font-feature-settings: "calt" off;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 572px;
  }
}
