.sign-up {
  width: 100vw;
  background: var(--light-seashell-background);
  padding: 40px 0px;
}

.sign-up__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 725px;
}

.container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 345px;
  max-width: 572px;
  gap: 24px;
  z-index: 2;
}

.sign-in-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.sign-in-line__text {
  color: #000;
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.sign-in-line__link {
  color: var(--link-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
}
