.completion-page__text {
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--main-text-color);
}

.resend-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.resend-line__text {
  color: var(--main-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.14px;
}

.resend-line__link {
  color: var(--main-text-color);
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
  text-decoration-thickness: 1%;
}

.signup-page__button {
  display: flex;
  padding: 9px 16px;
  border-radius: 4px;
  background: var(--main-button-color);
  color: var(--light-button-text-color);
  text-align: center;
  font-feature-settings: "calt" off;
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
  text-decoration: none;
  cursor: pointer;
}

.signup-page__button:active {
  background: var(--pressed-button-color);
}
