.block-cookies_policy {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.cookies-section {
    width: 1512px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 1.42857;
    letter-spacing: -0.14px;
}

.root-container {
    background-image: radial-gradient(circle at 50% 100%, #a6c8f1 10%, #1daf68 75%);
}

.cookies-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
    padding: 120px 100px 120px;
    color: #fff;
}

.title-container {
    position: relative;
}

.title {
    max-width: 55vw;
    position: relative;
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 88px;
    font-family: "ProximaNova",sans-serif;
    line-height: 1;
    text-transform: uppercase;
}

.title::before {
    position: absolute;
    bottom: 50%;
    left: -32px;
    z-index: 1;
    width: 166px;
    height: 130%;
    min-height: 160px;
    background-color: transparent;
    box-shadow: 0 15px 53px 0 rgba(0,0,0,.95);
    transform: translateY(50%);
    content: "";
}

.description {
    max-width: 90vw;
    position: absolute;
    width: 90%;
    margin-top: 26px;
    margin-bottom: 0;
    margin-left: 150px;
    font-weight: bold;
    font-size: 24px;
    font-family: "ProximaNova",sans-serif;
}
