.new-companies-main {
  width: var(--main-block-size);
  min-height: 1106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1fff7;
}

.new-companies-main__header {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.new-companies-main__title {
  color: #232424;
  font-family: var(--font-logo);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  padding-left: 125px;
}
 .new-companies-link-to-all {
  position: absolute;
  right: 143px;
  top: 29px
 }

 .new-companies-link-to-all a {
  font-family: var(--font-logo);
  color: #232424;
  font-weight: 600;
  font-size: 16px;
 }

 .new-companies-link-to-all svg {
  position: absolute;
  top: 4px;
 }

.new-companies-block {
  display: flex;
  width: 1304px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
