.new-companies-main {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f1fff7;
  margin: auto;
}

.new-companies-main__header {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.new-companies-main__title {
  color: #232424;
  font-family: var(--font-logo);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-left: 10px;
}
 .new-companies-link-to-all {
  position: absolute;
  right: 35px;
  top: 7px
 }

 .new-companies-link-to-all a {
  font-family: var(--font-logo);
  color: #232424;
  font-weight: 600;
  font-size: 16px;
 }

 .new-companies-link-to-all svg {
  position: absolute;
  top: 4px;
 }

.new-companies-block {
  display: flex;
  width: 375px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

@media only screen and (min-width: 768px) {
  .new-companies-main {
    width: 768px;
  }
  
  .new-companies-block {
    width: 768px;
  }
  .new-companies-main__title {
    font-size: 40px;
  }
  .new-companies-link-to-all {
    top: 23px
  }
}

@media only screen and (min-width: 1200px) {
  .new-companies-main {
    width: 1512px;
  }
  
  .new-companies-block {
    width: 1512px;
  }
  .new-companies-main__title {
    padding-left: 100px;
  }

  .new-companies-link-to-all {
    top: 35px;
    right: 126px;
  }
  
}