header {
    display: flex;
    width: 1305px;
    padding: 8px 104px;
    align-items: center;
    justify-content: space-between;
}

.header-logo__text {
    color: #292E32;
    font-feature-settings: 'calt' off;
    font-family: var(--font-logo);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.24px;
}

.header-utility-bar {
    display: flex;
    gap: 24px;
}