.representative {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.representative__label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.representative__label--required {
    color: var(--dust-red-5, #FF4D4F);
    text-align: right;
    font-family: SimSong;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.001px;
    /* 157.15% */
}

.representative__label--text {
    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;

    /* Text/Body/14-Semi bold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.representative__checkboxes {
    display: flex;
    padding: 0px 11px;
    align-items: flex-start;
    gap: 8px;
}

.representative__checkboxes--company {
    display: flex;
    width: 246px;
    align-items: flex-start;
    gap: 273px;

    /* .form-control {
        display: flex;
        align-items: center;
        gap: 8px;
    } */
}

.form-control {
    display: flex;
    gap: 8px;

    color: var(--main-black-90, #292E32);
    font-feature-settings: 'calt' off;

    /* Text/Body/14-Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: -0.14px;
}

.representative__checkboxes-startup {
    display: flex;
    width: 257px;
    align-items: flex-start;
    gap: 273px;

    /* .form-control {
        display: flex;
        width: 257px;
        align-items: flex-start;
        gap: 8px;
        flex-shrink: 0;
    } */

}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;

    border-radius: 2px;
    background: var(--main-white, #FFF);

    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--main-black-20, #E2E5EB);
    background: var(--main-white, #FFF);
}