footer {
    background-color: #3C4044;
    width: 1304px;
    display: flex;
    padding: 24px 104px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    /*for footer correct work*/
    margin-top: auto;
}

.footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}


.footer-logo__text {
    color: #FFF;
    font-feature-settings: 'calt' off;

    font-family: var(--font-logo);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footer-info__text {
    color: #FFF;
    font-feature-settings: 'calt' off;

    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.footer-link__text {
    color: #A0ABC0;
    text-align: center;
    font-feature-settings: 'calt' off;

    text-decoration: none;

    font-family: var(--font-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}