.sign-up {
    width: 1512px;
    /* height: 900px; */
    border-radius: 8px;
    background: var(--wf-base-white, #FFF);
    
}

.sign-up__body {
    /* width: 1512px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 725px;
    /* flex-shrink: 0; */
    background: var(--primary-green-20, #F1FFF7);
    
}