.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #1f9a7c;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-button img {
  transform: rotate(-90deg);
}

.scroll-button.visible {
  opacity: 1;
}

.scroll-button:hover {
  box-shadow: 0px 0px 5px 5px rgb(151, 213, 213);
}