.new-companies-main {
  width: var(--main-block-size);
  min-height: 1106px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #f1fff7;
}

.new-companies-main__header {
  width: var(--main-block-size);
  display: flex;
}

.new-companies-main__title {
  width: 444px;
  height: 24px;
  gap: 800px;
  color: #292e32;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-left: 104px;
  margin-top: 80px;
}

.new-companies-block {
  display: flex;
  width: 1304px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 18px;
}

.col-md-4 {
  flex-basis: calc(33, 3% - 80px);
  margin: 10px;
}

