.group {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: -1px;
}

.selected {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 2px 0px 0px 2px;
  background: var(--primary-green-80, #1f9a7c);
}

.not-selected {
  border-radius: 0px 2px 2px 0px;
  border: 1px solid var(--main-grey-20, #dee1e8);
  background: var(--main-white, #fff);
}
