.page {
  width: 1512px;
  /* height: 1594px; */
  min-height: 470px;
  border-radius: 8px;
  background: var(--wf-base-white, #fff);
}

.page-content {
  display: flex;
  width: 1305px;
  flex-direction: column;
  gap: 16px;
  margin: 17px 100px;
}

.group {
  display: flex;
  align-items: center;
  flex-direction: column;
}
