.new-companies-block {
  display: flex;
  width: 1412px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin: -10px; /* spacess beetwen ecompanies */
}

.col-md-4 {
  flex-basis: calc(33, 3% - 80px); /* 3 companies per row */
  margin: 10px; /* spacess beetwen ecompanies */
}
