.modal {
  position: absolute; /* or fixed */
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 610px;
  max-width: 90%;
  border-radius: 8px;
  background: var(--wf-base-white, #fff);
  z-index: 999;
}

.blur-background {
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
}

.modal__header {
  display: flex;
  padding: 18px 24px;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
  background: var(--main-white, #fff);

  /* border & divider/divider ↓ */
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
  color: var(--character-title-85, rgba(0, 0, 0, 0.85));
  font-feature-settings: "calt" off;

  /* Text/Body/16-Semi bold */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.16px;
}

.modal__content {
  display: flex;
  padding: 16px 24px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--main-white, #fff);

  /* border & divider/divider ↑ */
  box-shadow: 0px 1px 0px 0px #f0f0f0 inset;
}

.modal__footer {
  display: flex;
  padding: 16px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--main-white, #fff);

  /* border & divider/divider ↑ */
  box-shadow: 0px 1px 0px 0px #f0f0f0 inset;
}

.button-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.signup-page__button {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary-green-80, #1f9a7c);
  background: var(--main-white, #fff);

  /* drop-shadow/button-secondary */
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);

  color: var(--primary-green-80, #1f9a7c);
  text-align: center;
  font-feature-settings: "calt" off;

  /* Text/Body/16-Semi bold */
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.16px;
  text-decoration: none;

  cursor: pointer;
}

.signup-page__button:hover {
  border: 1px solid var(--primary-green-80, #1f9a7c);
  background: var(--primary-green-80, #1f9a7c);
  color: var(--main-white, #fff);
}
