.description__section {
    display: flex;
    align-items: flex-start;
    width: 400px;
    height: 40px;
    gap: 12px; 
    padding-left: 192px;    
}

.description__avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 100px;
    border: 3px solid #E2E5EB;
    background: #FFF;
}

.description__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.company__attributes {
    display: flex;
    align-items: flex-start;
    gap: 16px;    
}

.companyName {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #25292C;
}

.brend {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #25292C;
}

.description__text {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #292E32;   
}