.info-links-profile {
    display: flex;
    flex-direction: column;
  align-items: flex-start;
    width: 222px;
    height: 290px;
    gap: 12px;
}

.infolink {
    color: #4F585F;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    text-decoration: none;
}

.infolink__active {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #000000;
    text-decoration: none;
}

.delete {
    color: red;
}

.divider {
    width: 222px;
    border-bottom: 1px #E2E5EB solid;
}