.main-app {
  width: 1512px;
  border-radius: 8px;
  background: #FFF;
  margin-left: auto;
  margin-right: auto;
}
.main-app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

